<p id="notice"><%= notice %></p>

<p>	
<strong>Imagem:</strong>
  <%= image_tag(@category.image_url(:thumb).to_s) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Visible:</strong>
  <td><%= @category.visible? ? "Sim" : "Não" %></td>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
